/* You can add global styles to this file, and also import other style files */ 
nav ul a,
nav .brand-logo {
  color: #b93737;
  margin: auto;
}

.navitem:hover{
  background-color: #26a69a;
  color: #000;
  @extend .blue-text;
}

.m-5{
  margin-left: 30px;
}
.mb-5{
  margin-bottom: 30pt;
}

p {
  line-height: 2rem;
}

html{
  scroll-behavior: smooth; 
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax {

  /* Set a specific height */
  min-height: 20%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}